/**
 * @name ServerListResizer
 * @author Colonel_Gerdauf
 * @description Changes the server section spacing to be more consistent and readable
 * @version 0.1.3
 * @source https://github.com/ColonelGerdauf/Discord-themes/
 */
@import url('https://raw.githubusercontent.com/ColonelGerdauf/Discord-themes/refs/heads/main/src/SLR.css');

:root {
    --SLR-spacing: 15px;
    --slr-folder: 12px;
    /* Font size is exclusive to Vencord ServerListIndicators  */
    --SLR-font: 11px;
}
